.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 1.5rem 0;
}
@media screen and (max-width: 850px) {
    .container {
        width: 90%;
    }
}
@media screen and (max-width: 650px) {
    .container {
        width: 80%;
    }
}

button,
.btn {
    text-align: center;
    align-content: center;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
}
button:hover,
.btn:hover {
    transform: scale(0.9);
}
.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    /* padding: 20px; */
}

/*Animations*/
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}